html, body {
  font-family: sans-serif;
}

.App {
  min-height: 100vh;
  margin: auto;
  max-width: 600px;
  background-color: #f8f8f8;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  z-index: 10;
}

.App-header {
  font-size: 25px;
  background-color: #af0b0b;
  color: white;
  text-align: center;
  padding: 1em;
}

.App-header h4 {
  padding: 0;
  margin-top: -15px;
}

.App-title {
  font-size: 1.5em;
}

.laginndeling {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.lag {
  padding: 1em;
  background-color: #eee;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
}

.lag li {
  list-style: none;
}

.lag h4 {
  color: white;
  margin: -1em -1em 1em -1em;
  padding: 0.5em;
  background-color: #d41c1c;
}


footer {
  color: white;
  font-size: 15px;
  background-color: #af0b0b;
  text-align: center;
  padding: 0.5em;
}

.app-wrapper {
  background-color: #6b0000;
}

@keyframes App-logo-spin2 {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
.rotate-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.rotate {
  margin-top: 0;
  margin-left: -1000%;
  width: 2000%;
  animation: App-logo-spin2 infinite 4000s linear;
}
.rotate svg {
  opacity: 0.5;
  width: 100%;
  stroke: rgba(255,255,255,1);
}


